.container {
  display: flex;
  flex-direction: column;

  .deadline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
}
